[Unit]
Description=Authbackend NG - MQTT Listener Daemon
After=network.target

[Service]
Type=simple
# Another Type option: forking
User=www-data
WorkingDirectory=/var/www/authbackend-ng
ExecStart=/usr/bin/python /var/www/authbackend-ng/mqtt_daemon.py
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target

