{% extends "layout_bootstrap.html" %}
{% block search %}
  <div class=body>

    <h3>Global Roles</h3>
	<table class="table table-sm">
      <tr>
        <th>Member ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Role</th>
      </tr>
      {% for r in roles %}
	  <tr>
		<td><a href="{{ url_for('members.member_editaccess',id=r.member.id) }}">{{ r.member.member}}</a></td>
		<td>{{ r.member.first }}</td>
		<td>{{ r.member.last }}</td>
		<td>{{ r.role }}</td>
	  </tr>
      {% endfor %}
	</table>

	<h3>Resource Privs</h3>
	<table class="table table-sm">
	      <tr>
		<th>Member ID</th>
		<th>Resource</th>
		<th>Priv</th>
	      </tr>
      {% for p in privs %}
	  <tr>
		  <td><a href="{{ url_for('members.member_editaccess',id=p.member_id) }}">{{ p.member}}</a></td>
		<td>{{ p.resource }}</td>
		<td>{{ p.priv }}</td>
	  </tr>
      {% endfor %}
	</table>
  </div>
{% endblock %}
