{% extends "layout.html" %}
{% block body %}
  <h2>Welcome</h2>
  <div class=welcometext>
	Update manual payment receipt for users.
	<p>
	  To switch a user between payment systems, <a href="{{ url_for('members.members')}}">edit the member information first</a>
  </div>
  {% if members|length > 0 %}
    <div class="memberbox">
	<h2>Members paying manually:  {{ members|length }} </h2>
	<table border=1>
	<thead>
	  <tr>
	  <td>Member</td>
	  <td>Plan</td>
	  <td>Expires</td>
	  <td>Action</td>
	</thead>
	{% for m in members %}
	  <tr>
		  <td>{{ m.member }}</td>
		  <td>{{ m.plan }}</td>
		  <td>{{ m.expires_date }}</td>
		  <td>
			<a href="{{ url_for('payments.payments_manual_extend',member=m.member) }}">Add month</a>
			<br>
			<a href="{{ url_for('payments.payments_manual_expire',member=m.member) }}">Expire now</a>
			<br>
			<a href="{{ url_for('payments.payments_manual_delete',member=m.member) }}">Delete</a>
		  </td>
	  </tr>
	{% endfor %}
	</table>
	</div>
  {% endif %}
{% endblock %}

