{% extends "layout.html" %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Payment Details for {{ user.member }}:</div>
	<table>
	  {% for u in user %}
	  <tr>
		<td><div>Member id: </div></td>
		<td><a href="{{ url_for('payments.member_show',id=u.member) }}">{{ u.member }}</a> {{ u.firstname }} {{ u.lastname }}</td>
	  </tr>
	   <tr>
		<td><div>Email: </div></td>
		<td>{{ u.email }}</td>
	  </tr>
	   <tr>
		<td><div>Expires:</div></td>
		<td>{{ u.expires_date }}</td>
	  </tr>
	  <tr>
		<td><div>Customer ID:</div></td>
		<td>{{ u.customerid }}</td>
	  </tr>
	    <tr>
		<td><div>Created:</div></td>
		<td>{{ u.created_date }}</td>
	  </tr>
	  <tr>
		<td><div>Paysystem:</div></td>
		<td>{{ u.paysystem }}</td>
	  </tr>
	  <tr>
		<td><div>Last updated:</div></td>
		<td>{{ u.updated_date }}</td>
	  </tr>
	  <tr>
		<td colspan=2>======================================</td>
	  </tr>
	  {% endfor %}
	</table>
  </div>
{% endblock %}
