{# vim:tabstop=2:shiftwidth=2:expandtab
#}
{% extends "layout_bootstrap.html" %}
{% block widebody %}
{% with page="grid" %}
{% include 'header.html' %}
{% endwith %}

  <h3>Garage Bins</h3>
  <table style="table-layout: fixed; width: 100%;" class="table">
    <tr>
     <td></td>
    {% for x in ['A','B','C','D','E','F','G','H'] %}
    <div class="col-sm-1">
      <th>{{ x }}</th>
    {% endfor %}
    </tr>

  {% for y in ["6","5","4","3","2","1"] %}
  <tr>
      <th>{{ y }}</th>
    {% for x in ['A','B','C','D','E','F','G','H'] %}
    <td
        style="
        {% if bins['Garage-'+x+"-"+y] %}
        {{ bins['Garage-'+x+"-"+y]['style'] }}
        {% endif %}
        "
     >
      <p>
        {% if bins['Garage-'+x+"-"+y] %}
        <a href="{{ url_for('prostore.bin_edit',id= bins['Garage-'+x+'-'+y]['binid']) }}">
        {{ bins['Garage-'+x+"-"+y]['membername'] }}
        </a>
        {% endif %}
      </p>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  </table>




  <h3>Cleanspace Bins</h3>
  <div class="form-row">
    <div class="col-sm-1">
    </div>
    {% for x in ['A','B'] %}
    <div class="col-sm-1">
      <p>{{ x }}</p>
    </div>
    {% endfor %}
  </div>
  {% for y in ["4","3","2","1"] %}
  <div class="form-row">
    <div class="col-sm-1">
      <p>{{ y }}</p>
    </div>
    {% for x in ['A','B','C','D','E','F','G','H'] %}
    <div class="col-md-1"
        style="
        {% if bins['Cleanspace-'+x+"-"+y] %}
        {{ bins['Cleanspace-'+x+"-"+y]['style'] }}
        {% endif %}
        "
     >
      <p>
        {% if bins['Cleanspace-'+x+"-"+y] %}
        <a href="{{ url_for('prostore.bin_edit',id= bins['Cleanspace-'+x+'-'+y]['binid']) }}">
        {{ bins['Cleanspace-'+x+"-"+y]['member'] }}
        {% endif %}
        </a>
      </p>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
{% endblock %}
