{% extends "layout_bootstrap.html" %}
{% block body %}
			<p>To assign a waiver to a member - select to appropriate radio boxes for each, then click "assign"</p>
  <form action="relate_assign" method="POST">
		<div class=body>
			<h3>Unassigned Waivers</h3>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label for="waiversearch">Search for Waiver:</label>
          <input class="form-control" id="waiversearch" type="text" oninput="changedwaiversearch();" />
        </div>
      </div>
      <h2 class="alert alert-info" id="messagebox">Enter a phrase in the search box</h2>
			<table id="waiver_table" class="table table-sm bkg">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Created</th>
						<th>Waiver ID</th>
						<th>Waiver Type</th>
					</tr>
					{% for s in waivers %}
				<tr style="visibility:collapse">
				<td>{{ s.lastname }}, {{s.firstname}}</td>
				<td>{{ s.email }}</td>
				<td>{{ s.created_date }}</td>
				<td>{{ s.waiver_id }}</td>
				{% if s.waivertype in waiverTypes %}
				<td>{{ waiverTypes[s.waivertype] }}</td>
				{% else %}
				<td>???</td>
				{% endif %}
				<td><input type="radio" name="do_waiver" value="assign:{{ s.waiver_id }}">&nbsp;Assign to...</input></td>
				</tr>
					{% endfor %}
			</table>
			<input type="submit" class="btn btn-primary" value="Assign" name="Assign" />
		</div>
	<hr />
	<h3>Attach to Member:</h4>
		<div class="container">
			{% with add_radiobuttons=1 %}
			{% include 'userlist.html' %}
			{% endwith %}
		</div>
  </form>
<script type="text/javascript">
function changedwaiversearch() {
  r = document.getElementById("waiversearch").value.toLowerCase();
  console.log(r);
  table = document.getElementById("waiver_table");
  table.visibility="";
  msg = document.getElementById("messagebox");
  if (r.length >= 3) {
    table.visibility="";
    msg.style.display="none";
    for (var i = 0, row; row = table.rows[i]; i++) {
       row.style.visibility="collapse";
       if (row.cells[0].innerHTML.toLowerCase().includes(r))
         row.style.visibility="";
       if (row.cells[1].innerHTML.toLowerCase().includes(r))
         row.style.visibility="";
       if (row.cells[3].innerHTML.toLowerCase().includes(r))
         row.style.visibility="";
       //iterate through rows
       //rows would be accessed using the "row" variable assigned in the for loop
      //console.log(row.cells[1].innerHTML);
    }
  } else {
    msg.style.display="block";
    table.visibility="collapse";
  }
}
</script>
{% endblock %}
