{% extends "layout_bootstrap.html" %}
{% block head %}
<script type="text/javascript" src="{{ url_for("static",filename="js/sorttable.js") }}"></script>
{% endblock  %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Waiver Data</div>
		{% if current_user.privs("Useredit") or current_user.privs("Finance") %}
    <a class="btn btn-primary" href="{{ url_for('waivers.waivers_update') }}">Update Waiver Data (May take a while)</a>
    <a class="btn btn btn-primary" href="{{ url_for('waivers.relate') }}">Assign Waivers</a>
		{% endif %}
    <p></p>
	Show Waivers: <select id="filterSelect" onChange="changeFilter();">
		{% for t in types %}
			<option value="{{ t.code }}">{{ t.short }}</option>
	 	{% endfor %}
	</select>
	<table id="waivertable" class="table table-compact greenbar-table supercompact">
      <thead>
				<tr>
	<th></th>
	<th></th>
        <th>Email <i class="glyphicon glyphicon-sort"></i></th>
        <th>Firstname <i class="glyphicon glyphicon-sort"></i></th>
        <th>Lastname</th>
	<th>Created <i class="glyphicon glyphicon-sort"></i></th>
	<th>Type <i class="glyphicon glyphicon-sort"></i></th>
	<th>Member <i class="glyphicon glyphicon-sort"></i></th>
				</tr>
      </thead>
      {% for w in waivers %}
	  <tr class="waiverrow" xx-waiver-code="{{ w.code }}">
		  <td style="background-color:#00000000">
				{% if w.waiver.member_id %}
				<a class="btn btn-outline-secondary" href="javascript:unlinkModal('{{ w.waiver.id }}','{{ w.member }}','{{ w.waiver.firstname }} {{ w.waiver.lastname }}');">
				<span data-toggle="popover" class="glyphicon glyphicon-resize-full" />
				</a>
				{% endif %}
			</td>
		<td>{{ w.waiver.waiverid }}</td>
		<td>{{ w.waiver.email }}</td>
		<td>{{ w.waiver.firstname }}</td>
		<td>{{ w.waiver.lastname }}</td>
		<td>{{ w.waiver.created_date }}</td>
		<td>{{ w.type }}</td>
		<td>
		{% if w.waiver.member_id %}
		<a href="{{ url_for("members.member_show",id=w.member) }}">{{ w.member }}</a>
		{% else %}
		&nbsp;
		{% endif %}
		</td>
	  </tr>
      {% endfor %}
	</table>

{# UNLINK MODAL #}
<!-- Modal -->
<form method="POST">
	<div class="modal fade" id="unlinkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Unlink waiver</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to unlink waiver for <span id="field1"></span> from member <span id="field2"></span>?</p>
					<p>This will <b>disable</b> their access to the lab until a waiver is linked to them!</p>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="unlink_waiver_id" id="unlink_waiver_id" />
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" name="Unlink" value="Unlink" class="btn btn-danger">Unlink</button>
				</div>
			</div>
		</div>
	</div>
	</form>
{# UNLINK MODAL #}

<script type="text/javascript">
function unlinkModal(sub,member,name) {
	$('#field1')[0].innerHTML=member;
	$('#field2')[0].innerHTML=name;
	$('#unlink_waiver_id')[0].value=sub;
	$('#unlinkModal').modal();
}

/* Handle Filter Dropdown */
function changeFilter() {
	var filterval = document.getElementById("filterSelect").value;
	console.log(filterval);
	for (let x of $("tr.waiverrow")) {
		found=false;
		var rowval = x.getAttribute("xx-waiver-code");
		if ((filterval == -1) || (filterval == rowval) )
			//x.style.visibility="visible";
			x.style.display="table-row";
		else
			//x.style.visibility="collapse";
			x.style.display="none";
		
	}
}
var t = new SortableTable(document.getElementById('waivertable'), 100);
</script>
{% endblock %}
