{% extends "layout.html" %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Ignored entries:</div>
    <div>The following entries are currently MANUALLY updated in the database, as they can really mess up
    proper payment processing if set incorrectly. Do not add/remove any items to the database unless you
    have discussed it with the team.</div>
    <p></p>
	<table>
      <tr>
        <th>Entry Type</th>
        <th>Entry</th>
        <th>Reason</th>
        <th>Updated Date</th>
      </tr>
      {% for b in blacklist %}
	  <tr>
		<td>{{ b.entrytype }}</td>
		<td>{{ b.entry }}</td>
		<td>{{ b.reason }}</td>
		<td>{{ b.updated_date }}</td>
	  </tr>
      {% endfor %}
	</table>
  </div>
{% endblock %}
