{% extends "layout.html" %}
{% block search %}
  {% if session.logged_in %}
  <div class=body>
	<p>From here you can:
    <ul>
    <li>Add/Change a member's RFID tag</li>
        <ul>
        <li>If the new tag number is already in use no changes will be made</li>
        <li>If you change a member's tag number all access for the old tag will be removed</li>
        </ul>
    </li>
    <li>Change access to any pre-defined resource</li>
    </ul>
	<form action="{{ url_for('member_details') }}" method=post>
    <p>Member: {{ member.firstname }} {{ member.lastname }}
	<p>Type: {{ member.membertype }}</p>
	RFID: <input name="rfid" value="{{ member.rfid }}" /></p>
	<input name="firstname" type="hidden" value="{{ member.firstname }}" />
	<input name="lastname" type="hidden" value="{{ member.lastname }}" />
    <input name="oldrfid" type="hidden" value="{{ member.rfid }}" />
    <input name="email" type="hidden" value="{{ member.email }}" />
    {% include 'list_resources.html' %}
	<p>
	<input type=submit value="Make changes"/>
	</form>
  </div>
  {% endif %}
{% endblock %}
