{% extends "layout.html" %}
{% block body %}
<div>
Welcome to the Admin interface.
<p>
With great power comes great... current? Who knows.    
</div>
<div>
<!-- Yes, I know Divs are way cooler. But Tables are nice for lazy coding. Deal. -->
<table>
    <tr>
        <td>
           <a href="{{ url_for('members') }}">
            <img src="/static/members.png" alt="View or Edit members"></a>
        </td>
        <td>
            Members and Access - Add/Edit RFID or Access
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{ url_for('payments') }}">
                <img src="/static/payments.png" alt="View or Test Payment System integration">
            </a>
        </td>
        <td>
            Payment System - Test, Process data
        </td>
    </tr>
</table>
</div>
{% endblock %}
