{% extends "layout.html" %}
{% block body %}
<div class="sectionhead">
Welcome to the Admin interface.
</div>
<i>With great power comes great... current? Who knows.</i>
<p></p>
<div>
<!-- Yes, I know Divs are way cooler. But Tables are nice for lazy coding. Deal. -->
<table>
    <tr>
        <td><div class="menubox">
        <a href="{{ url_for('members') }}"><img class="menuimg" src="static/office.png" alt="View, Create or Edit members and their access"></a>
        <br>
        Members and Access</div>
        </td>
        <td><div class="menubox"><a href="{{ url_for('payments') }}"><img class="menuimg" src="static/finance.png" alt="View or Test Payment System integration"></a>
        <br>
        Payment System</div>
        </td>
        <td><div class="menubox"><a href="{{ url_for('resources') }}"><img class="menuimg" src="static/building.png" alt="View, Create or Modify Resources"></a>
        <br>
        Resources</div>
        </td>
        <td><div class="menubox"><a href="{{ url_for('reports') }}"><img class="menuimg" src="static/data.png" alt="View reports"></a>
        <br>
        Reports</div>
        </td>
    </tr>
</table>
</div>
{% endblock %}
