{% extends "layout_bootstrap.html" %}
{% block body %}
<div class="container-fluid">
<h2>Admin Interface</h2>
</div>
<i>With great power comes great... current? Who knows.</i>
<p></p>

<div class="d-flex flex-wrap">

{% for m in menu %}
	{% if m.img %}
	<div class="menubox content hvr-grow-shadow">
		<div class="my-10 p-0 mx-auto">
			<a href="{{ m.url }}"><img class="menuimg" src="{{ m.img }}" alt="{{ m.alt }}"></a>
		</div>
		<div class="m-0 p-0 mx-auto ">
			<div class="m-0 p-0 text-center">{{ m.title }}</div>
			<div class="m-0 p-0 text-center">
				<small>{{ m.alt }}</small>
			</div>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endblock %}
