{% extends "layout_bootstrap.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <p>You probably want to <a href="{{ url_for("google.login") }}">log in via OAuth</a></p>
  <form action="{{ url_for('login_check') }}" method=post>
    <table>
      <tr>
        <td>Username: </td>
        <td><input type=text name=username></td>
      </tr>
       <tr>
        <td>Password: </td>
        <td><input type=password name=password></td>
      </tr>
    </table>
    <p></p>
    <input type=submit value=Login>
  </form>
{% endblock %}
