{% extends "layout.html" %}
{% block search %}
<div class=body>
	<p>Edit user access to Resources
    <p>Member: <a href="{{ url_for('member_show',id=member.id) }}">{{ member.id }}</a></p>
	<div class="sectionhead">Tags <a href="{{ url_for('member_tags',id=member.id) }}"><i>(Add/Change)</i></a>:</div>
	{% if tags|length > 0 %}
	  {% for t in tags %}
		<li>{{ t.tagid }} {{ t.tagtype }} (Name: {{ t.tagname }})</li>
	  {% endfor %}
	{% else %}
	  <div><i>No tags currently exist for this user, be sure to add some</i></div>
	{% endif %}
	<br>
	
	<p>
	<form action="{{ url_for('member_setaccess',id=member.id) }}" method="post">
	  <table>
		<tr>
		  <th>Resource</th>
		  <th>Description</th>
		  <th>Contact</th>
		  <th>Allowed?</th>
		</tr>
		{% for a in member.access %}
		  <tr>
			<td>{{ a.name }}</td>
			<td>{{ a.description }}</td>
			<td>{{ a.owneremail }}</td>
			<td><input type="checkbox" name="access_{{ a.name }}" {{ 'checked' if (a.enabled == '1') else '' }} /></td>			
		  </tr>
	    {% endfor %}
	  </table>
	<input type=submit value="Make changes"/>
	</form>
  </div>
{% endblock %}
