{% extends "layout.html" %}
{% block body %}
   <h2>Welcome</h2>
  <div class=welcometext>
	This interface allows you to add/edit RFID and access details for members.
	<p>
	Type in a portion of the person's name or email to view/edit details.
  </div>
  <div class=searchbox>
    <form action="{{ url_for('search_members') }}" method=post class=search-users>
	<table>
	<tr>
	<td>Pattern to search for:</td>
	<td><input type=text size=30 name=searchstr onenter="submit"></td>
	</tr>
	</table>
    </form>
  </div>
  {# The syntax below is template-specific, a length 'filter' is used in Jinja #}
  {% if members|length > 0 %}
    <div class="memberbox">
	<h2>Matching Members:  {{ members|length }} </h2>
	<table border=1>
	{% for member in members %}
	  <tr>
		  <td><a href="{{ url_for('members') }}/{{ member.id }}">Edit</a> {{ member.firstname }} {{ member.lastname }} ({{ member.email }}) </td>
	  </tr>
	{% endfor %}
	</table>
	</div>
  {% endif %}
  
{% endblock %}
