{% extends "layout.html" %}
{% block body %}
  <h2>Welcome</h2>
  <div class=welcometext>
	Add or remove tags (NFC, RFID, etc) used to authenticate a user
  </div>
  <div class="sectionhead">Tags for {{ mid }}:</div>
  {% if tags|length > 0 %}
  <table>
    <tr>
        <th>Tag Id</th>
        <th>Tag Type</th>
		<th>Tag Name</th>
        <th>Actions</th>
    </tr>
  {% for tag in tags %}
    <tr>
        <td>{{ tag.tagid }}</td>
        <td>{{ tag.tagtype }}</td>
		<td>{{ tag.tagname }}</td>
        <td><a href="{{ url_for('member_tagdelete',id=mid,tagid=tag.tagid) }}">Delete</td>
    </tr>
  {% endfor %}
  </table>
  {% else %}
	<i>No tags for this user currently</i>
  {% endif %}
  <div class="sectionhead">Add tag:</div>
  <form action="{{ url_for('member_tagadd',id=mid) }}" method="post">
  <table>
	<tr>
	  <td>Tag ID: <input name="newtag" type="text" value="" /></td>
	</tr>
	<tr>
	  <td>Tag Name: <input name="newtagname" type="Text" value="" /></td>
	</tr>
	<tr>
	  <td>Tag Type: <select name="newtagtype"><option value="rfid">RFID</option><option value="nfc">NFC</option></select></td>
	</tr>
    <tr>
	  <td><input type="submit" value="Add new tag"></td>
	</tr>
  </table>
  </form>
{% endblock %}
