{% extends "layout.html" %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Payment Details for {{ user.member }}:</div>
	<table>
	  <tr>
		<td><div>Member id: </div></td>
		<td><a href="{{ url_for('member_show',id=user.member) }}">{{ user.member }}</a> {{ user.firstname }} {{ user.lastname }}</td>
	  </tr>
	   <tr>
		<td><div>Email: </div></td>
		<td>{{ user.email }}</td>
	  </tr>
	   <tr>
		<td><div>Expires:</div></td>
		<td>{{ user.expires_date }}</td>
	  </tr>
	    <tr>
		<td><div>Created:</div></td>
		<td>{{ user.created_date }}</td>
	  </tr>
	  <tr>
		<td><div>Paysystem:</div></td>
		<td>{{ user.paysystem }}</td>
	  </tr>
	  <tr>
		<td><div>Last updated:</div></td>
		<td>{{ user.updated_date }}</td>
	  </tr>
	</table>
  </div>
{% endblock %}
