{% extends "layout.html" %}
{% block body %}
  <h2>Payment System Management</h2>
  <div class=welcometext>
	This interface alows you to sync member records with the payment system 
	<p>
	Payment system configuration:
	<ul>
	  <li>System: <i>{{ paysystem.module }}</i></li>
	  <li>User account: <i>{{ paysystem.userid }} </i></li>
	  <li>Endpoint: <i>{{ paysystem.uri }}</i></li>
	  <li>Last checked: {{ cdate.checked }}</li>
	</ul>
	<div class="paybuttons"><a href="{{ url_for('test_payments') }}"><button class="paysystem" onclick="this.disabled = true">Test (takes 5-20 seconds..)</button></a></div>
    <div class="paybuttons"><a href="{{ url_for('update_payments') }}"><button class="paysystem" onclick="this.disabled = true">Process member data (takes 5-30 seconds)</a></div>
    <p>
	  
	</p><a href="{{ url_for('payments_reports') }}">Run reports related to Payments</a>
  </div>
{% endblock %}

