{% extends "layout.html" %}
<h2>Resources</h2>
{% block body %}
<div class="resourcelist">
	<h2>Resources:  {{ resources |length }} available</h2>
	<table border=1>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Owner email</th>
			<th>Actions</th>
        </tr>
	{% for resource in resources %}
	  <tr>
		<td><a href="{{ url_for('resource_show',resource=resource.name) }}">{{ resource.name }}</a></td>
		<td>{{ resource.description }}</td>
		<td>{{ resource.owneremail }}</td>
		<td><a href="{{ url_for('resource_showusers',resource=resource.name) }}">See users</a></td>
	  </tr>
	{% endfor %}
	</table>
	</div>
<div class="sectionhead">Add Resource</div>
<form action="{{ url_for('resource_create') }}" method="post">
<table>
    <tr>
        <td>Name:</td>
        <td><input type="text" name="rname" /></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input type="text" name="rdesc" /></td>
    </tr>
    <tr>
        <td>Contact email:</td>
        <td><input type="text" name="rcontact" /></td>
    </tr>
</table>
<input type="submit" value="Create resource" />
</form>
{% endblock %}
