{% extends "layout.html" %}
{% block body %}
<div>
<div class="sectionhead">Edit Resource</div>
  <form action={{ url_for('resource_update',resource=resource.name) }} method="post">
	<table>
	  <tr><td>Name: {{ resource.name }}</td></tr>
	  <tr><td>Description: <input type=text size=25 name=rdescription value="{{ resource.description }}"></td></tr>
	  <tr><td>Owner Email: <input type=text size=25 name=remail value={{ resource.owneremail }}></td></tr>
	</table>
	<input type=submit value="Make changes">
  </form>
  <div class="sectionhead">Delete resource:
  <form action={{ url_for('resource_delete',resource=resource.name) }} method="post">
	<p></p>
	<input class="delete" type=submit value="Delete resource">
  </form>
  </div>
{% endblock %}
