{% extends "layout.html" %}
{% block body %}
<div class="sectionhead">Users of '{{ resource }}': ({{ users|length }})</div>
{% if users|length > 0 %}
<div class="protip">Click a user's name to edit their access for any resource</div>
<p></p>
<table border=1>
    <tr>
        <th>Member</th>
        <th>Last Accessed (FUTURE)</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for('member_editaccess',id=user.member) }}">{{ user.member }}</a></td>
            <td></td>
        </tr>
    {% endfor %}
</table>


{% endif %}
<div class="sectionhead">Add a missing user</div>
To add a user to this resource <a href="{{ url_for('members') }}">search for them on the members page</a>
{% endblock %}