{% extends "layout.html" %}
{% block body %}
  <h2>Payment System Management</h2>
  <div class=welcometext>
	This interface alows you to sync member records with the payment system
	<p>
	  <ol>
		{% if payments.valid %}
		 <li> (Done) Check payment system connection - Working</li>
		 {% if payments.updated %}
		  <li> (Done) Member list updated (some values here)</li>
		 {% else %}
		  <li> <a href="{{ url_for('update_payments') }}"><button class="paysystem" onclick="this.disabled = true">Process member data (15 seconds)</a></li>
		 {% endif %}
		{% elif payments.invalid %}
		  <div class=error>There was an error communicating with the payment system. Check the system logs.</div>
		{% else %}
		  <li><a href="{{ url_for('test_payments') }}"><button class="paysystem" onclick="this.disabled = true">Test (takes 10 seconds..)</button></a></li>
		{% endif %}
	  </ol>
  </div>
{% endblock %}

