{% extends "layout.html" %}
{% block search %}
  <div class=body>
	<div class="sectionhead">Waiver Data</div>
    <a href="{{ url_for('waivers_update') }}">Update Waiver Data (takes 30+ seconds)</a>
    <p></p>
	<table>
      <tr>
        <th>Waiver</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
		<th>Created</th>
      </tr>
      {% for w in waivers %}
	  <tr>
		<td>{{ w.waiverid }}</td>
		<td>{{ w.email }}</td>
		<td>{{ w.firstname }}</td>
		<td>{{ w.lastname }}</td>
		<td>{{ w.created_date }}</td>
	  </tr>
      {% endfor %}
	</table>
  </div>
{% endblock %}
