{% extends "layout_bootstrap.html" %}
{% block head %}
	<script type="text/javascript" src="{{ url_for("static",filename="js/sorttable.js") }}"></script>
{% endblock %}
{% block body %}
<div class="body"> <!-- BASE contrainer -->

		
<div class="container"> {# Outer container #}
  <h3>Member Audio for {{ member.firstname }} {{ member.lastname}} </h3>

  
  <p>Upload a file for your member entrance audio. 7 Seconds maximum. A number of audio and vido file formats are supported. (Try one - it'll tell you if it worked). Clips will be truncated to 7 seconds. Be advised: Vulgar, offensive or inappropriate audio may lead to removal or revocation of Entry Audio privileges.</p>
  <form method="post" enctype="multipart/form-data" action="{{ url_for("memberAudio.upload_file") }}">
    <input type="hidden" name="folder" value="{{ folder }}">
    <input type=file name=file>
    <input type=submit value=Upload>
   </form>
</div>

{% endblock %}
