{#    This is meant to be INCLUDED by another page.
			Wrap this inside another div class-content block, 
			and inside a form (if desiered)

			This template is used for THREE different thins:
			Create, Edit, or Display a record
	
			{% include 'template.html' %}

			Or to include checkbox columns:

			{% with add_checkboxes='1' %}
			{% include 'userlist.html' %}
			{% endwith %}

#}

<!-- Import any "with" parameters -->
{% if member_url %}
<script type="text/javascript">var MEMBER_URL="{{ url_for("members.member_show",id="") }}";</script>
{% else %}
<script type="text/javascript">var MEMBER_URL=null;</script>
{% endif %}


{% if readonly is defined and readonly  %}
{% set ro="readonly" %}
{% endif %}

{% if rec is not defined %}
{% set rec={} %}
{% endif %}


{% from 'global_macros.html' import input with context %}

<div class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('name',"Resource Name",'resource-users',small='Typically ends in \"-users\"') }}
    </div>
    <div class="form-group col-md-6">
			{{ input('short',"Short Name",'',small='Very short nickname - for slack') }}
    </div>
	</div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('description',"Description",'Descripton of resource') }}
    </div>
    <div class="form-group col-md-6">
			{{ input('age_restrict',"Age Restriction",small='Years of Age (If specified, users must have been verified to be of a certian age to use resoruce') }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
			{{ input('permissions',"Endorsements",'This tool requires a class..',small="Optional - Whitespace-separated list of suppliemental user-permission flags") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('owneremail',"RM Email group/alias",'resource@makeitlabs.com',type="email") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('slack_chan',"Public Slack Channel",'#resource-users',small="e.g. #resource-name users - Public notices, like tool outages") }}
    </div>
    <div class="form-group col-md-6">
			{{ input('slack_admin_chan',"Admin Slack Channel",'#resource-admin',small="e.g. #resource-name-admin - Notices to admins, like tool activity") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
			{{ input('info_url',"Resource URL",'https://wiki.makeitlabs.com/resource',small="Where uses can go for more info") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
			{{ input('info_text',"Information Text (Short, for RATT)",'This tool requires a class..',small="Displayed on RATT for unauthorized users") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-12">
			{{ input('slack_info_text',"Information Text (Longer, for RATT or Email)",'Click this URL for training classes...',small="Emailed to unauthorized users who want access") }}
    </div>
  </div>

  <!-- Training Stuff -->
  <h3 class="my-5">Training Self-Authorization</h3>
  <div class="form-row">
    <div class="form-group col-md-12">
			{{ input('sa_url',"Training info/video URL",'',small="URL for video and info - if blank - no self-authorization") }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
			<label for="input_sa_required">Prerequisite Resource</label>
			<select name="input_sa_required">
			<option value=-1>(None)</option>
			
			{% for r in resources %}
				<option value={{ r.id }}
				{{ 'selected' if (r.id == rec.sa_required) else '' }}
				>{{ r.name }}
				</option>
			{% endfor %}
			</select><br />
			<small>Must already be qualified on this to self-authorize</small>
    </div>
    <div class="form-group col-md-3">
			<label for="input_sa_permit">Approval Type</label>
			<select name="input_sa_permit">
			<option value=0
				{{ 'selected' if (0 == rec.sa_permit) else '' }}
				>Automatic access when Passed</option>
			<option value=1
				{{ 'selected' if (1 == rec.sa_permit) else '' }}
				>RM must approve</option>
			
			</select><br />
			<small>Automatically approve when quiz is passed, or hold user in "pending" state until RM approves</small>
    </div>
    <div class="form-group col-md-2">
			{{ input('sa_days',"Days Required",'',small="Number of days users must be authorized on this to qualify. If zero or blank, not required") }}
    </div>
    <div class="form-group col-md-2">
			{{ input('sa_hours',"Hours Required",'',small="Number of machine-houres user must have logged to qualify. If zero or blank, not required") }}
    </div>
    <div class="form-group col-md-2">
	<button type="button" class="btn btn-secondary" onclick='location.href="{{ url_for("training.editquiz",resid=rec.id) }}";'>Edit Quiz</button>
    </div>
  </div>
  <!-- End Training -->
</div>
