{# vim:tabstop=2:shiftwidth=2:expandtab 
#}
{% extends "layout_bootstrap.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/timepicker.less') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap-datepicker.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap-timepicker.js") }}"></script>
{% endblock %}

{% block body %}
<div class="sectionhead"><h2>{{ resource.name }} Maintenance</h2></div>
<div class="body">
	{% for t in tools %}
	<div class="content">
		<hr />
		<h3>{{ t.name }}</h3>
		<div class="content ml-3">
				<div class="form-row my-3">
          <div class="col-sm-3">
            <b>Maintenance</b>
          </div>
          <div class="col-sm-3">
            <b>Last Done</b>
          </div>
          <div class="col-sm-3">
            <b>Machine Time</b>
          </div>
          <div class="col-sm-3">
            <b>Calendar Time</b>
          </div>
				</div>
			{% for m in maint %}
				<div class="form-row my-3">
          <div class="col-sm-3">
            {{ m.desc }}<br />
            ({{ m.name }})
            {% if not readonly %}
              <a href="javascript:onAddLog('{{ m.name }}','{{ t.name }}');" class="glyphicon glyphicon-plus" href="">Log</a>
            {% endif %}
          </div>
          <div class="col-sm-3">
            {% if tooldata[t.name]['maint'][m.name]['lastdone'] %}
            {{ tooldata[t.name]['maint'][m.name]['lastdone'] }}
            <br />{{ tooldata[t.name]['maint'][m.name]['clock_time_ago'] }} Ago
            {% else %}
            --
            {% endif %}
          </div>
          <div class="col-sm-3">
            {{ tooldata[t.name]['maint'][m.name]['activeTime'] }} Since Last<br />
            {% if tooldata[t.name]['maint'][m.name]['run_interval'] %}
            Required every {{ tooldata[t.name]['maint'][m.name]['run_interval'] }}
            {% endif %}
            {% if tooldata[t.name]['maint'][m.name]['active_remain'] %}
            <br />Remain: {{ tooldata[t.name]['maint'][m.name]['active_remain'] }} 
            {% endif %}
    
          </div>
          <div class="col-sm-3">
            {% if tooldata[t.name]['maint'][m.name]['calendar_interval'] %}
            Required every {{ tooldata[t.name]['maint'][m.name]['calendar_interval'] }}
            {% endif %}
            {% if tooldata[t.name]['maint'][m.name]['clock_time_remaining'] %}
            <br />{{ tooldata[t.name]['maint'][m.name]['clock_time_remaining'] }}
            {% endif %}
          </div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>


{# Add Log Entry Modal #}
<form method="POST">
<div class="modal fade" id="addLogModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Maintenance Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="maint_str"></p>
        <input type="datetime-local" id="datetime" name="input_maint_log_datetime" autocomplete="off" />
      </div>
      <div class="modal-footer">
        <input type="hidden" name="tool" id="input_maint_log_form_tool" />
        <input type="hidden" name="maint" id="input_maint_log_form_maint" />
        <button type="submit" name="LogMaint" value="LogMaint" class="btn btn-primary">Add Log</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</form>

<script type="text/javascript">
function onAddLog(entryName,toolName) {
	/* Init date picker */
  $('#maint_str')[0].innerHTML="Log that "+entryName+" has been done on "+toolName+"?";
  $('#input_maint_log_form_tool')[0].value=toolName;
  $('#input_maint_log_form_maint')[0].value=entryName;
  $('#datetime')[0].value="{{ current_datetime }}";
  $("#addLogModal").modal();
}
</script>
{# Add Log Entry Modal #}
{% endblock %}
