{% extends "layout_bootstrap.html" %}
{% block body %}
<div>
<div class="sectionhead"><h3>Edit Resource</h3></div>
	<div class="btn-group my-2" role="group">
		<a class="btn btn-outline-secondary" href="{{ url_for("resources.resource_showusers",resource=rec.name) }}" class="btn btn-link">Members</a>
		<a class="btn btn-outline-secondary" href="{{ url_for("resources.resource_usage",resource=rec.name) }}" class="btn btn-link">Usage Graphs</a>
		<a class="btn btn-outline-secondary" href="{{ url_for("resources.resource_usage_reports",resource=rec.name) }}" class="btn btn-link">Usage Reports</a>
		<a class="btn btn-outline-secondary" href="{{ url_for("resources.maintenance",resource=rec.name) }}" class="btn btn-link">Maintenance</a>
		<a class="btn btn-outline-secondary" href="{{ url_for("resources.message",resource=rec.name) }}" class="btn btn-link">Message Users</a>
		<a class="btn btn-outline-secondary" href="{{ url_for("training.approvals",resname=rec.name) }}" class="btn btn-link">Approve Auth</a>
	</div>
  <form action={{ url_for('resources.resource_update',resource=rec.id) }} method="POST">
	{% include 'form.html' %}
	{% if readonly is not defined or not readonly %}
	<input type=submit class="btn btn-primary" value="Save changes">
	{% endif %}
  </form>

	<hr />
	<div class="container"> <!-- Training Records -->
	<h3>Training</h3>
	{% if not train %}
		<p>There are no self-training courses</p>
	{% else %}
    <table class="table">
      <tr>
        <td>Name</td>
        <td>Prerequisite</td>
        <td>Grants</td>
       </tr>
      {% for t in train %}
        <tr>
          <td> {{ t.name }}</td>
          <td> {{ t.requires }}</td>
          <td> {{ t.grants }}</td>
          <td> <a href="{{ url_for('training.editquiz',trainid=t.id) }}"><span class="glyphicon glyphicon-pencil" /></a></td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <!-- Button trigger for "Delete" modal -->
  <a href="{{ url_for('training.newquiz',resname=rec.name) }}" class="btn btn-info">Add Self-Training Course</a>
	<div class="collapse" id="addTrainCollapse" >
	</div>
  </div>
  <!-- End Training -->

	<hr />
	<div class="container"> <!-- Maintenance Records -->
	<h3>Maintenance Items</h3>
	{% if not maint %}
		<p>There are no maintenance items specified</p>
	{% else %}
		<table class="table">
			<tr>
				<th>Short Name</th>
				<th>Description</th>
				<th>Calendar Interval</th>
				<th>Run-time Interval</th>
			</tr>
	{% for t in maint %}
			<tr>
				<td>{{ t.name }}</td>
				<td>{{ t.desc }}</td>
				<td>
					{% if t.realtime_span %}
						{{ t.realtime_span }}
						{{ t.realtime_unit }}
					{% endif %}
				</td>
				<td>
					{% if t.machinetime_span %}
						{{ t.machinetime_span }}
						{{ t.machinetime_unit }}
					{% endif %}
				</td>
			</tr>
	{% endfor %}
		</table>
	{% endif %}

  <!-- Button trigger for "Delete" modal -->
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#addMaintCollapse">
		Add Maintenance Item
	</button>
	<div class="collapse" id="addMaintCollapse" >
		{% include 'maint_form.html' %}
	</div>
	</div> <!-- Maintenance Records -->

	<hr />
	<div class="container"> <!-- Tools -->
	<h3>Tools</h3>
	{% if not tools %}
		<p>There are no tools of this resource type</p>
	{% else %}
		<table class="table">
			<tr>
				<th>Tool Name</th>
				<th>Front-End</th>
			</tr>
	{% for t in tools %}
			<tr>
				<td>{{ t.name }}</td>
				<td>{{ t.frontend }}</td>
			</tr>
	{% endfor %}
		</table>
	{% endif %}
	</div> <!-- Tools -->

	{% if readonly is not defined or not readonly %} <!-- WE CAN EDIT -->
  <div class="sectionhead">
	  <p />
  </div>

{% if current_user.privs("RATT") %} {# RATT privs - can delete #}
  <!-- Button trigger for "Delete" modal -->
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
  Delete Resource
</button>

<!-- Modal for Delete resource confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      Are you really sure you want to delete {{ rec.name }}??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
	  <form action={{ url_for('resources.resource_delete',resource=rec.id) }} method="post">
		<input class="btn btn-danger" type=submit value="Delete">
	  </form>
      </div>
    </div>
  </div>
</div>
  {% endif %} {# RATT PRIVS - CAN DELETE #}
  {% endif %} {# WE CAN EDIT #}

	{% with resource_id=rec.id %}
	{% include "comments.html" %}
	{% endwith %}
{% endblock %}
