{# vim:tabstop=2:expandtab:shiftwidth=2 
#}
{% extends "layout_bootstrap.html" %}
{% block head %}
  <link href="{{ url_for('static', filename='css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for("static",filename="js/bootstrap-datepicker.min.js") }}"></script>
{% endblock %}
{% block body %}
<div class="body"><h3>{{ rec.name }} Usage Reports</h3></div>

<div class="container">
  <form method="GET">
    <div class="btn-group" role="group" aria-label="Basic example">
      <div class="form-group mx-2">
        <div class="input-daterange input-group" id="datepicker">
            <span class="input-group-addon">From</span>
            <input type="text" class="input-sm form-control" name="input_date_start" autocomplete="off" />
            <span class="input-group-addon">to</span>
            <input type="text" class="input-sm form-control" name="input_date_end" autocomplete="off" />
        </div>
      </div>
      <div class="form-group mx-2">
        <input type="checkbox" class="btn btn-outline-secondary" name="by_tool" />
        <label>By Tool</label>
      </div>
      <div class="form-group mx-2">
        <input type="checkbox" class="btn btn-outline-secondary" name="by_user" />
        <label>By User</label>
      </div>
      <div class="form-group mx-2">
        <input type="checkbox" class="btn btn-outline-secondary" name="by_day" />
        <label>By Day</label>
      </div>
      <div class="form-group mx-2">
        <input type="submit" class="btn btn-outline-secondary" value="Report" name="Report" />
      </div>
    </div>
  </form>
</div>

  {# Dynamically generate any report #}
	<div class="container">
    {% if records %}
			<button class="btn btn-lg btn-light glyphicon glyphicon-download"  onclick="location.href='{{ meta.csvurl }}'"></button>
      <table class="table table-sm">
        <tr>
          {% for f in fields %}
            <th
                {% if f['type'] == 'num' %}style="text-align:right"{% endif %}
            >{{ f['name'] }}</th>
          {% endfor %} {# fields #}
        </tr>
        {% for r in records %}
          <tr>
            {% for f in fields %}
              <td
                {% if f['type'] == 'num' %}style="text-align:right"{% endif %}
              >{{ r[f['name']] }}</td>
            {% endfor %} {# fields #}
          </tr>
        {% endfor %} {# records #}
      </table>
    {% endif %} {# records #}
  </div>
  {# End Dynamically generate any report #}

</div> {# Body #}

<script type="text/javascript">
	/* Init date picker */
	$(document).ready(function () {
		$('#datepicker').datepicker({
				maxViewMode: 2,
				todayBtn: true,
				clearBtn: true,
				todayHighlight: true
		});
	});
</script>
{% endblock %}
